Repository turbot/steampipe, pull requests merged in 2022-10, with the labels that each got.

#2490 Fixes issue where steampipe requests for firewall exceptions during installation. Closes #2478
  pkg/db/db_local/install.go
Labels: bug

#2500 Consolidates acceptance tests. Closes #2497
  .acceptance.goreleaser.yml
  .github/workflows/test.yml
  tests/acceptance/run.sh
  tests/acceptance/test_files/001.basics.bats
  tests/acceptance/test_files/002.service.bats
  tests/acceptance/test_files/003.service-password.bats
  tests/acceptance/test_files/004.plugin.bats
  tests/acceptance/test_files/005.chaos.bats
  tests/acceptance/test_files/009.check-search-path.bats
  tests/acceptance/test_files/011.check-plugin-crash.bats
  tests/acceptance/test_files/012.cache.bats
  tests/acceptance/test_files/013.query-params.bats
  tests/acceptance/test_files/014.control-parsing-failure.bats
  tests/acceptance/test_files/016.introspection-tables.bats
  tests/acceptance/test_files/017.check-summary.bats
  tests/acceptance/test_files/020.service_extensions.bats
  tests/acceptance/test_files/022.mod-sp-traversal.bats
  tests/acceptance/test_files/023.mod-require.bats
  tests/acceptance/test_files/024.mod-parsing.bats
  tests/acceptance/test_files/cache.bats
  tests/acceptance/test_files/chaos_and_query.bats
  tests/acceptance/test_files/check.bats
  tests/acceptance/test_files/dynamic_schema.bats
  tests/acceptance/test_files/exit_codes.bats
  tests/acceptance/test_files/force_stop.bats
  tests/acceptance/test_files/migration.bats
  tests/acceptance/test_files/mod.bats
  tests/acceptance/test_files/mod_install.bats
  tests/acceptance/test_files/performance.bats
  tests/acceptance/test_files/search_path.bats
  tests/acceptance/test_files/service_and_plugin.bats
Labels: house-keeping, test

#2554 Update acceptance test jobs in release workflows. Closes #2552
  .github/workflows/release_cli.yml
  .github/workflows/release_cli_and_assets.yml
  tests/dockertesting/debian/run-tests.sh
  tests/dockertesting/oraclelinux/run-tests.sh
Labels: test, github_actions

#2556 Fixes issue where acceptance tests are not running locally.
  tests/acceptance/run-local.sh
  tests/acceptance/test_files/chaos_and_query.bats
  tests/acceptance/test_files/migration.bats
  tests/acceptance/test_files/mod.bats
Labels: test

#2596 Add acceptance tests for Workspace Profiles. Closes #2571
  .github/workflows/release_cli_and_assets.yml
  .github/workflows/test.yml
  tests/acceptance/test_data/source_files/config_tests/workspace_profiles/workspaces.spc
  tests/acceptance/test_data/source_files/config_tests/workspace_tests.json
  tests/acceptance/test_files/workspace.bats
Labels: test

#2629 Update `Publish Docker Release` workflow to build and push a docker image for linux/arm64. Closes #2575
  .github/workflows/publish_docker.yml
Labels: github_actions, docker

#2590 Fixes issue where progress bars are not sorted for plugin update. Closes #2501
  pkg/display/plugin_install.go
  pkg/utils/map.go
Labels: bug
