Repository turbot/steampipe, pull requests merged in 2023-01, with the labels that each got.

#2898 Add acceptance tests to verify query outputs containing null values. Closes #2897
  tests/acceptance/test_data/templates/expected_csv_with_null_values.csv
  tests/acceptance/test_data/templates/expected_table_with_null_values.txt
  tests/acceptance/test_files/chaos_and_query.bats
Labels: test

#2938 Defined exit codes. Closes #2935
  cmd/check.go
  cmd/dashboard.go
  cmd/login.go
  cmd/plugin.go
  cmd/query.go
  cmd/service.go
  pkg/constants/exit_codes.go
  pkg/control/controlexecute/execution_tree.go
  tests/acceptance/test_data/functionality_test_mod/functionality/all_controls_ok.sp
  tests/acceptance/test_files/check.bats
Labels: enhancement

#2878 Add dashboard acceptance tests. Closes #2818
  .github/workflows/test.yml
  tests/acceptance/run-local.sh
  tests/acceptance/run.sh
  tests/acceptance/test_data/dashboard_cards/dashboard.sp
  tests/acceptance/test_data/dashboard_cards/mod.sp
  tests/acceptance/test_data/dashboard_graphs/dashboard.sp
  tests/acceptance/test_data/dashboard_graphs/mod.sp
  tests/acceptance/test_data/dashboard_parsing_nested_node_edge_providers_fail/mod.sp
  tests/acceptance/test_data/dashboard_parsing_nested_node_edge_providers_fail/query_providers_nested_require_sql.sp
  tests/acceptance/test_data/dashboard_parsing_nested_query_providers_fail/mod.sp
  tests/acceptance/test_data/dashboard_parsing_nested_query_providers_fail/query_providers_nested_require_sql.sp
  tests/acceptance/test_data/dashboard_parsing_top_level_query_providers_fail/mod.sp
  tests/acceptance/test_data/dashboard_parsing_top_level_query_providers_fail/query_providers_top_level_require_sql.sp
  tests/acceptance/test_data/dashboard_parsing_validation/mod.sp
  tests/acceptance/test_data/dashboard_parsing_validation/node_edge_providers_nested.sp
  tests/acceptance/test_data/dashboard_parsing_validation/node_edge_providers_top_level_******.sp
  tests/acceptance/test_data/dashboard_parsing_validation/query.sp
  tests/acceptance/test_data/dashboard_parsing_validation/query_providers_nested.sp
  tests/acceptance/test_data/dashboard_parsing_validation/query_providers_nested_dont_require_sql.sp
  tests/acceptance/test_data/dashboard_parsing_validation/query_providers_top_level.sp
  tests/acceptance/test_data/dashboard_parsing_validation/query_providers_top_level_require_sql.sp
  tests/acceptance/test_data/dashboard_sibling_containers/mod.sp
  tests/acceptance/test_data/dashboard_sibling_containers/report.sp
  tests/acceptance/test_data/dashboard_texts/dashboard.sp
  tests/acceptance/test_data/dashboard_texts/mod.sp
  tests/acceptance/test_data/dashboard_withs/dashboard.sp
  tests/acceptance/test_data/dashboard_withs/mod.sp
  tests/acceptance/test_data/snapshots/expected_sps_many_withs_dashboard.json
  tests/acceptance/test_data/snapshots/expected_sps_sibling_containers_report.json
  tests/acceptance/test_data/snapshots/expected_sps_testing_card_blocks_dashboard.json
  tests/acceptance/test_data/snapshots/expected_sps_testing_nodes_and_edges_dashboard.json
  tests/acceptance/test_data/snapshots/expected_sps_testing_text_blocks_dashboard.json
  tests/acceptance/test_data/snapshots/source.json
  tests/acceptance/test_data/snapshots/target.json
  tests/acceptance/test_data/templates/expected_check_snapshot.sps
  tests/acceptance/test_files/check.bats
  tests/acceptance/test_files/dashboard.bats
  tests/acceptance/test_files/dashboard_parsing_validation.bats
  tests/acceptance/test_files/json_patch.sh
  tests/acceptance/test_files/script.sh
Labels: test

#2971 Disable performance tests for now
  tests/acceptance/test_files/cloud.bats
  tests/acceptance/test_files/performance.bats
Labels: test

#3003 Fixes issue where steampipe notifies of available update even if plugin is updated
  pkg/filepaths/steampipe.go
  pkg/task/available_versions.go
  pkg/task/display.go
  pkg/task/pluginversioncheck.go
  pkg/task/runner.go
  pkg/task/version_checker.go
Labels: bug

#2997 Clean up test and release workflows #2996
  .github/workflows/test.yml
  tests/acceptance/test_files/check.bats
Labels: test

#2983 Update introspection tables acceptance test suite. Closes #2906
  .github/workflows/release_cli_and_assets.yml
  .github/workflows/test.yml
  tests/acceptance/test_data/introspection_table_mod/query.sp
  tests/acceptance/test_data/introspection_table_mod/resources.sp
  tests/acceptance/test_data/templates/expected_introspection_check_where.json
  tests/acceptance/test_data/templates/expected_introspection_info_benchmark.json
  tests/acceptance/test_data/templates/expected_introspection_info_control.json
  tests/acceptance/test_data/templates/expected_introspection_info_dashboard.json
  tests/acceptance/test_data/templates/expected_introspection_info_dashboard_card.json
  tests/acceptance/test_data/templates/expected_introspection_info_dashboard_chart.json
  tests/acceptance/test_data/templates/expected_introspection_info_dashboard_flow.json
  tests/acceptance/test_data/templates/expected_introspection_info_dashboard_graph.json
  tests/acceptance/test_data/templates/expected_introspection_info_dashboard_hierarchy.json
  tests/acceptance/test_data/templates/expected_introspection_info_dashboard_image.json
  tests/acceptance/test_data/templates/expected_introspection_info_dashboard_input.json
  tests/acceptance/test_data/templates/expected_introspection_info_dashboard_table.json
  tests/acceptance/test_data/templates/expected_introspection_info_dashboard_text.json
  tests/acceptance/test_data/templates/expected_introspection_info_query.json
  tests/acceptance/test_data/templates/expected_introspection_info_variable.json
  tests/acceptance/test_files/introspection.bats
  tests/acceptance/test_files/mod.bats
Labels: test

#2981 Fixes issue where connection setup prematurely times out
  pkg/constants/duration.go
  pkg/db/db_common/wait_connection.go
  pkg/db/db_local/create_client.go
  pkg/db/db_local/install.go
  pkg/db/db_local/start_services.go
  pkg/workspace/load_workspace.go
  tests/manual_testing/service/start-kill.sh
  tests/manual_testing/service/start-stop.sh
Labels: bug

#2993 Acceptance tests which run on PR should do a merge with base before running the tests #2869
  .github/workflows/test.yml
  tests/acceptance/test_files/check.bats
Labels: github_actions

#2987 Fix issue where running query inside a mod directory without having installed its associated plugin first returns an error with 0 exit code. Closes #2986
  cmd/query.go
  pkg/interactive/interactive_client.go
  pkg/interactive/interactive_client_init.go
  pkg/interactive/run.go
  pkg/query/queryexecute/execute.go
  tests/acceptance/test_files/mod.bats
Labels: bug

#3018 Update publish workflow to autodeploy new versions of steampipe to homebrew-core. Closes #3000
  .github/workflows/publish_docker.yml
  .github/workflows/release_cli_and_assets.yml
Labels: github_actions

#3031 Fixes issue where version output has disparity
  cmd/root.go
Labels: bug

#3033 Show the exported file location when --progress flag is enabled
  cmd/check.go
  cmd/dashboard.go
  cmd/query.go
  pkg/export/manager.go
  pkg/export/target.go
Labels: enhancement

#3032 Adds an 'sperr' error package along with sample implementation with the login cmd
  cmd/login.go
  design/sperr.md
  pkg/cloud/api.go
  pkg/cloud/cloud_metadata.go
  pkg/cloud/login.go
  pkg/cloud/snapshot.go
  pkg/cloud/workspace.go
  sperr/doc.go
  sperr/error.go
  sperr/factory.go
  sperr/option.go
  sperr/stack.go
Labels: house-keeping
