Repository turbot/steampipe, pull requests merged in 2023-03, with the labels that each got.

#3171 Add acceptance test to verify --dashboard-input flag in dashboard runs
  tests/acceptance/test_data/dashboard_inputs/dashboard.sp
  tests/acceptance/test_data/dashboard_inputs/mod.sp
  tests/acceptance/test_data/snapshots/expected_sps_testing_dashboard_inputs.json
  tests/acceptance/test_files/dashboard.bats
Labels: test

#3204 Update acceptance test workflow to remove redundant step
  .github/workflows/test.yml
Labels: github_actions

#3197 Fixes issue where fdw was not updated for 'service restart' command
  cmd/check.go
  cmd/completion.go
  cmd/list.go
  cmd/mod.go
  cmd/plugin.go
  cmd/plugin_manager.go
  cmd/query.go
  cmd/root.go
  cmd/service.go
  cmd/spinner.go
  cmd/variable.go
Labels: bug

#3160 Rationalising 'status hooks'
  cmd/root.go
  cmd/service.go
  pkg/constants/colors.go
  pkg/control/controlstatus/control_hooks_status.go
  pkg/dashboard/dashboardexecute/runtime_dependency_subscriber_impl.go
  pkg/dashboard/dashboardexecute/snapshot.go
  pkg/db/db_client/db_client_connect.go
  pkg/db/db_local/refresh_connections.go
  pkg/db/db_local/start_services.go
  pkg/error_helpers/utils.go
  pkg/interactive/interactive_client.go
  pkg/interactive/interactive_client_init.go
  pkg/query/init_data.go
  pkg/query/init_hook.go
  pkg/statushooks/context.go
  pkg/statushooks/null_hooks.go
  pkg/statushooks/spinner.go
  pkg/statushooks/status_hooks.go
Labels: house-keeping

#3249 Add an acceptance test to catch schema cloning errors. Closes #3248
  .github/workflows/release_cli_and_assets.yml
  .github/workflows/test.yml
  tests/acceptance/test_files/schema_cloning.bats
Labels: test

#3247 Update Publish Docker Release workflow to push images to GH container registry instead of Docker hub. Closes #3243
  .github/workflows/publish_docker.yml
Labels: github_actions

#3275 Dashboard UI dependabot critical vulnerability fixes #1429.
  ui/dashboard/yarn.lock
Labels: dependencies, javascript
